.sec2, .sec4, .sec6, .sec8{
  background-color: #f0f0f0;
  position: relative;
}
/* sec1 */
.sec1 {
  display: flex;
  flex-direction: column; /* Stack header and images vertically */
  align-items: center; /* Center items horizontally */

}

.sec1-img {
  display: flex;
  justify-content: space-around; /* Center the images when there are 2 */
  flex-wrap: wrap;
  gap: 60px; /* Space between images */
  padding: 30px 0;
}

.image-wrapper {
  padding: 10px;
  text-align: center; /* Center the label below the image */
}

.round-image {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 50%; /* Makes the image round */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-label {
  margin-top: 8px; /* Space between the image and the label */
  font-size: 14px; /* Adjust font size as needed */
  color: #333; /* Label color */
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  .round-image {
    width: 200px;
    height: 200px;
  }
  .sec1-img {
    display: flex;
    justify-content: space-around; /* Center the images when there are 2 */
    gap: 30px; /* Space between images */
    padding: 30px 0;
  }
}

/*sec2*/
.triangle {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translateX(-50%);
  height: calc(100px / 2 * tan(60deg));
  width: 100px;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  background-color: white; /* Triangle color */

}

.attention-text h2 {
  position: relative;
  font-weight: bold;
  margin-bottom: 20px;
}

.attention-text p {
  line-height: 1.6;
}
.graph-image {
  width: 100%; /* Makes the graph responsive */
  margin: 20px 0; /* Adds space above and below the graph */
}
.inner .growth-nutrients p {
  text-align: left;
}
@media (max-width:768px) {
  .triangle {
    top: 10%;
  }
}

/*sec3*/
.sec3 .graph p{
  text-align: right;
  margin-bottom: 40px;
  font-size: 0.8em;
}

/*sec4*/
.sec4 {
  padding: 50px 0;
}

.mct-oil {
  position: relative; /* Positioning for z-index */
  z-index: 1; /* Bring the text above the round shape */
}

.round-shape {
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 50%;
  position: absolute; /* Positioning for overlay effect */
  bottom: 20px;
  left: 20%;
}
@media (min-width: 1025px) and (max-width: 1366px) {
  .sec4 {
    padding: 0;
  }
  .round-shape {
    left: 10%;
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 768px) {
  .round-shape {
      position: static;
      margin: 20px auto 0;
      display: block;
      width: 230px;
      height: 230px;
  }
}

/* sec5 */
.sec5 {
  position: relative; /* To control the position of absolute elements inside */
}
.sec5 .inner, .sec7 .inner{
  padding: 150px 0;
}

.calcium-magnesium{
  position: relative;
}
.calcium-magnesium.img {
  position: absolute;
  right: 20%;
  top: 10%;
  z-index: 1;
}
.calcium-magnesium.text {
  z-index: 2;
  position: relative;
}

.calcium{
  position: relative;
}
.calcium.img, .gmp-certified.img {
  position: absolute;
  left: 20%;
  top: 0%;
  z-index: 1;
}
.calcium.text, .gmp-certified.text {
  text-align: left;
  z-index: 2;
  position: relative;
  max-width: 60%;
  margin-left: auto;
}
.sec5 .img, .sec7 .img{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f0f0f0;
  display: flex; /* Center image within the container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  display: block; /* Removes bottom space below image */
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.vitamind{
  position: relative;
}
.vitamind.text, .anti-doping.text {
  text-align: left;
  z-index: 2;
  position: relative;
  max-width: 60%;
  margin-right: auto;
}

.vitamind.img, .anti-doping.img {
  position: absolute;
  right: 20%;
  bottom: 10%;
  z-index: 1;
}

@media (min-width: 1025px) and (max-width: 1366px) {
  .sec5 .inner, .sec7 .inner{
    padding: 90px 0;
  }
  .calcium-magnesium.img, .vitamind.img, .anti-doping.img{
    right: 10%;
  }
  .calcium.img, .gmp-certified.img {
    left: 10%; 
  }
  .sec5 .img, .sec7 .img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
}
@media (max-width: 768px) {
  .sec5 .inner, .sec7 .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  .sec5 .img, .sec7 .img {
    position: relative;
    left: 0;
    top: auto;
    transform: none;
    margin-bottom: 20px;
    width: 230px;
    height: 230px;
  }


  .sec5 .text, .sec7 .text {
    max-width: 100%;
    text-align: center;
  }
}

/*sec6*/
.recommended-for-kids{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recommended-for-kids p{
  margin-top: 30px;
}

