/* footer-fixed */
.footer-fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right, #ec7700 0%, #ce000e 100%);
  color: white;
  text-align: center;
  padding: 12px 0; /* This contributes to the height */
  z-index: 10;
  margin-top: 90px;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease-in-out, bottom 0.3s ease; /* Smooth transition for opacity and bottom */

}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px; /* Space between items */
}

.footer-button {
  background: white;
  color: red;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
  font-weight: 550;
  height: 50px;
  min-width: 200px;
  margin: 0 20px;
}

.footer-button:hover {
  opacity: 0.8;
}

.footer-item span {
  font-weight: bold;
  font-size: 15px;
}

/* Initially hide the footer when it's not needed */
.footer-fixed.hidden {
  opacity: 0; /* Ensure it's fully hidden */
  pointer-events: none; /* Disable interactions when hidden */
}

.footer-fixed.stopped {
  bottom: 46px; /* Stop at 50px from the bottom */
}

/* Show the footer when it's visible (i.e., after scroll reaches 600px) */
.footer-fixed.visible {
  opacity: 1; /* Make the footer visible */
}

/* Additional styles when scrolling up */
.footer-fixed.scrolling-up {
  transition: bottom 0.2s ease; /* Smooth transition when scrolling up */
  bottom: 0; /* Footer moves back to the bottom */
}
/* footer-scroll */
.footer-scroll {
  position: static; /* Use static instead of fixed */
  width: 100%;
  background: lightgrey;
  color: black;
  text-align: right;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  z-index: 20;
  transform: none; /* Remove transform effect */
  transition: none; /* Remove transition effects */
}

.footer-scroll-content {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.footer-scroll-item {
  cursor: pointer;
}

.footer-scroll-item:hover {
  text-decoration: underline;
  color: #333;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    gap: 0;
  }

  .footer-buttons {
    display: flex;
  }

  .footer-button {
    height: 50px;
    min-width: 150px;
    margin: 5px 15px;
  }

  .footer-scroll {
    display: none;
  }
  .footer-fixed.stopped {
    bottom: 0; /* Stop at 50px from the bottom */
  }
}
