.faqs{
  background: url('/img/faq_bg.jpg') no-repeat center/cover;
}
.faq{
  background-color: #f0f0f0;
  margin: 60px 0;
  padding: 40px 0;
}
.faqs h2{
  color: #EB6100;;
}
.faq:nth-child(odd){
  box-shadow: 0px 4px 4px 0px #F5BD1D;
}
.faq:nth-child(even){
  box-shadow: 0px 4px 4px 0px #EB6100;
}
.faq p {
  text-align: center;
  padding: 0 20px;
}
