.hero {
  background-image: url('/img/mv.png'); /* Background image URL */
  background-size: cover; /* Cover the entire hero area */
  background-position: center; /* Center the image */
  min-height: calc(100vh - 20px); /* Full viewport height minus the navbar height */
  display: flex; /* Use flexbox for centering text */
  justify-content: flex-start; /* Align items to the left */
  align-items: center; /* Center vertically */
  position: relative; /* Position relative to allow absolute positioning of text */
  z-index: 1; /* Ensure hero section is above the background */
}

/* Add a dark overlay
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 26, 29, 0.5); * Dark transparent overlay (50% opacity) *
  z-index: -1; * Ensure the overlay is behind the content *
}
*/
.mv-item {
  text-align: left; /* Align text to the left */
  padding: 20px; /* Padding around the text */
  overflow: hidden; /* Hide overflow text */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  margin-left: 30px;
  z-index: 2; /* Make sure the text is on top of the overlay */
  width: 50%;
}

.mv-item__logo {
  margin-bottom: 0.2em;
  text-align: left;
}

.mv-item__text-top {
  line-height: 1.2;
  margin-bottom: 30px;
  width: 30%;
}

@media (max-width:768px) {
  .hero {
    height: 100vh; /* Full viewport height */

  }
  .mv-item {
    width: 100%;
    margin-left: 0;
  }
  .hero-text h1 {
  }
  .hero-text p {
  }
}
