.testimonials{
  text-align: center;
}
.testimonial {
  /*padding: 90px 0;*/
}
.testimonial-title{
  padding-top: 60px;
}
.testimonial h2{
  color: #EB6100;
  margin: 10px 0;
  text-shadow: 0px 4px 4px #FFF;
}
