#next18 p {
text-align: center;
}
.next18__mv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  height: 110vh;
}

.next18__mv-img {
  width: 100%;
}

.next18__mv-content {
  margin-top: -65vh;
  width: 30vw;
}
.next18__mv-content h1 {
  transition: transform 0.5s ease-in-out;
  transform: scale(0.1);
}

.next18__mv-content h1.scaled {
  transform: scale(1);
}

.next18__mv-content h4 {
  margin-top: -1.2vh;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.image-grid__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image-grid__item p {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  margin: 40px 0 20px;
  height: 3rem; /* Set a fixed height for uniform spacing */
  display: flex; /* Align text within the height */
  justify-content: center;
  align-items: center;
}


.image-grid__circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.image-grid__circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 769px) and (max-width: 1180px) {
  .next18__mv {
    height: 67vh;
  }
  .next18__mv-content{
    width: 55vw;
    margin-top: -35vh;
    margin-bottom: 5vh;
  }
}
@media (min-width: 1025px) and (max-width: 1366px) {
  .next18__mv {
    height: 120vh;
  }
  
}
@media (max-width: 768px) {
  .image-grid {
    gap: 10px;
  }
  .image-circle {
    width: 140px;
    height: 140px;
  }
  .next18__mv{
    height: 50vh;
  }
  .next18__mv-content{
    width: 60vw;
    /*top: 1.2vh;*/
    margin-top: -29vh;
  }
}

/*nutrition-compliant*/
.next18__nutrition-compliant-calcium-magnesium {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}
.next18__nutrition-compliant-calcium-magnesium p {
  text-align: left;
}
.next18__nutrition-compliant-calcium,
.next18__nutrition-compliant-magnesium,
.next18__nutrition-compliant-vitamin-d {
  padding: 30px 20px;
  border-radius: 10px;
  margin: 40px 0;
  position: relative;
}

.next18__nutrition-compliant-calcium::before{
  position: absolute;
  content: '';
  width: 100px; 
  height: 100px;
  top: -50px;
  left: 0px;
}
.next18__nutrition-compliant-magnesium::before{
  position: absolute;
  content: '';
  width: 100px; 
  height: 100px;
  top: -50px;
  left: 0px;
}
.next18__nutrition-compliant-vitamin-d::before{
  position: absolute;
  content: '';
  width: 100px; 
  height: 100px;
  top: -50px;
  left: 0px;
}
.next18__nutrition-compliant-trusted-quality {
  display: flex;
  margin-top: 10vh;
  justify-content: space-between;
}
.next18__nutrition-compliant-trusted-quality-text p{
  border: 1px solid #FFDE00;
  padding: 30px 20px;
  text-align: left !important;
  width: 100%;
}
.next18__nutrition-compliant-trusted-quality-text,
.next18__nutrition-compliant-trusted-quality-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

@media (max-width:768px) {
  .next18__nutrition-compliant-calcium-magnesium, .next18__nutrition-compliant-trusted-quality{
    flex-direction: column;
    gap: 30px;
  }
  .next18__nutrition-compliant-trusted-quality-img img{
    max-width: 80%;
  }
}