[data--fadein], [data--fadedown], [data--fadeinleft], [data--fadeinright]{
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  transition-delay: var(--delay);
}

[data--fadedown] {
  transform: translateY(-30px);
}
[data--fadeinleft] {
  transform: translateX(60px); /* Start closer to the viewport */
}
[data--fadeinright] {
  transform: translateX(-60px); /* Start closer to the viewport */
}

[data--fadein].show,
[data--fadedown].show,
[data--fadeinleft].show,
[data--fadeinright].show,
[data--scaled]{
  opacity: 1;
  transform: translateY(0);
}
[data--fadeinleft].show, [data--fadeinright].show {
  transform: translateX(0);
}

[data--scaled] {
  transition: transform 0.5s ease-in-out;
  transform: scale(0.1);
}

[data--scaled].show {
  transform: scale(1);
}
@media (max-width:768px) {
  [data--fadeinleft] {
    transform: translateX(10px); /* Start closer to the viewport */
  }
  [data--fadeinright] {
    transform: translateX(-10px); /* Start closer to the viewport */
  }
}