.back-to-top {
  position: fixed;
  height: 50px;
  width: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  bottom: 30px;
  right: 30px;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease, background 0.3s ease, transform 0.3s ease;
  z-index: 999;
  background: transparent;
  border-radius: 50%;
}

.back-to-top:hover {
  transform: scale(1.05); /* Slight scaling effect on hover */

}
.back-to-top.show{
  opacity: 1;
}
.back-to-top img {
  background: transparent;
  border: none;
}
@media (max-width:768px) {
  .back-to-top{
    bottom: 90px;
  }
}